body{
    background-color: azure;
    font-family: 'Montserrat';
    
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1,h2,h3{
        margin: 0 auto;
    }
}

}